__pycache__/
*.py[cod]
*.so
*.dylib
*.egg-info/
.dist-info/
.build/
dist/
build/
.coverage
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ipynb_checkpoints/
.env
.venv/
.envrc
.DS_Store
.vscode/
.idea/
site/
htmlcov/
reports/
data/
